@charset "UTF-8";

@import 'reset-css/reset.css';
@import "./lib/_value";
@import "./lib/_mixin";
@import './common/base';

.c-wrap {
  text-align: center;
  padding: 50px 20px 80px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  @include desktop {
    padding: 50px 0 200px;
  }
  &::before {
    content: "";
    width: 40%;
    height: 100%;
    background: url(/img/bg_flower.png) top center no-repeat;
    background-size: contain;
    position: absolute;
    top: -130px;
    left: 0;
    @include desktop {
      width: 20%;
      height: 100%;
      top:-10%;
      left: 16%;
    }

  }
  &::after {
    content: "";
    width: 80%;
    height: 100%;
    background: url(/img/bg_flower.png) top center no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -30px;
    right: -60px;
    transform: rotateZ(180deg);
    @include desktop {
      width: 20%;
      bottom: -18%;
      right: 16%;
    }
  }
}

.c-title {
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-size: 2.8rem;
  letter-spacing: 4px;
  position: relative;
  @include desktop {
    margin-bottom: 40px;
  }
  &::after {
    display: inline-block;
    content: "";
    width: 310px;
    height: 190px;
    background: url(/img/littleBird.png) top center no-repeat;
    background-size: contain;
    position: absolute;
    right: -25%;
    top: -90px;
    z-index: -10;
    @include desktop {
      display: none;
    }
  }
}

.c-contaier {
  @include container;
}

.info {
  display: inline-block;
  border-radius: 10px;
  padding: 30px 20px;
  width: 100%;
  max-width: 100%;
  background: #fff;
  box-sizing: border-box;
  z-index: 100;
  position: relative;
  @include desktop {
    padding: 60px 100px;
    max-width: 600px;
    min-width: 400px;
    z-index: 0;
    position: static;
  }

  &::after {
    display: none;

    @include desktop {
      display: inline-block;
      content: "";
      width: 380px;
      height: 230px;
      background: url(/img/littleBird.png) top center no-repeat;
      background-size: contain;
      position: absolute;
      right: 50%;
      bottom: 60px;
      z-index: 10;
      transform: rotateY(180deg);
    }
  }

  & &-heading {

  }
  & &-contents {
    margin-bottom: 40px;

  }
  & &-prof {
    text-align: center;

  }
  & &-prof_name {
    font-size: 2rem;
  }
  & &-prof_penName {
    display: inline-block;
    margin-bottom: 1em;
    font-size: 1.4rem;
  }
  & &-prof_thumb {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url("/img/icon.jpg") center no-repeat;
    background-size: cover;
    @include desktop {
      width: 180px;
      height: 180px;
    }
  }
  & &-prof_description {
    margin-bottom: 40px;
    text-align: left;
  }
  & &-prof_tools {
    margin-bottom: 40px;
  }
  & &-prof_toolHeading {
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: bold;
  }
  & &-prof_toolList {
    font-size: 1.2rem;
    word-wrap: break-word;
  }

  & &-prof_sns {

  }

  & &-prof_snsHeading {
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    font-weight: bold;
  }
  & &-prof_snsIntro {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  & &-prof_snsList{
    display: inline-block;
    width: 200px;
    ul{
      display: flex;
      justify-content: space-between;
      li{
        a i {
         font-size: 2rem;
        }
      }
    }
  }
}

