extends ./common/_layout.pug

block content
    .c-wrap
        .c-contaier
            h1.c-title cotolier
        section#info.info
            .c-contaier
                //-.info-heading
                    h2 現在準備中です。
                    span すみません、もうしばらくお待ち下さい。
                .info-contents
                    .info-prof
                        .info-prof_thumb
                        h2.info-prof_name Yasui Risa
                        span.info-prof_penName Pen-Name 絹雪
                        p.info-prof_description
                            |Web制作会社にてデザイナー、フロントエンドエンジニアとして働いています。
                            |芸術大学に通っていた頃から趣味でもイラスト制作を行っており、
                            |Web制作会社に入社した後もデザイン・Web制作・イラスト制作の３つの分野で活動しています。
                            br
                            br
                            |学生の頃に大切にしていた「綺麗なものを作りたい」という気持ちと、
                            |仕事をするの中で身につけた「ユーザーの心の導線を設計するデザイン」を考えながら日々制作に取り組んでいます。
                            br
                            |ユーザが感じる「いいな」の気持ちから優しく心を動かす、そんなモノづくりをしていきたいと考えています。
                        .info-prof_tools
                            h3.info-prof_toolHeading Tools used
                            span.info-prof_toolList Photoshop / Illustrator / XD / Sketch / CLIP STUDIO PAINT / HTML,Pug / CSS,SCSS / gulp / jQuery / Vue.js / Git
                        .info-prof_sns
                            h3.info-prof_snsHeading SNS
                            span.info-prof_snsIntro
                                |フォローなどお気軽にどうぞ。
                                br
                                |日々勉強中ですが色々な方と交流できると嬉しいです。
                            .info-prof_snsList
                                ul
                                    li
                                        a(href="https://twitter.com/cotolier_risa" target="_blank")
                                            i.fa.fa-twitter
                                    li
                                        a(href="https://www.facebook.com/cotolierRisa" target="_blank")
                                            i.fa.fa-facebook
                                    li
                                        a(href="https://qiita.com/cotolier_risa" target="_blank") Qiita
